@import "tailwindcss";

@theme{

  --font-title:"Mountains of Christmas", serif;
  --font-playpen:"Playpen Sans", cursive;
  --color-brownie:#7B4600;
  --color-goldie: #FFD255;
  --background-image-hero-pattern: url(/hero.png);
}



@layer components{
  .pattern{
    @apply bg-hero-pattern bg-center bg-cover w-screen h-screen overflow-auto;
  }
  .wrapper {
    @apply px-5 py-12 max-w-7xl mx-auto flex flex-col relative z-10 items-center justify-center;
  }
}